<html lang="en">
  <head>
    <title>Results Page</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <header><%- include('partials/header.ejs') %></header>
  <body>
    <div id="display" class="landing">
      <h3
        style="
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        "
      >
        Results Page
      </h3>
    </div>
  </body>
  <footer><%- include('partials/footer.ejs') %></footer>
</html>
