<html lang="en">
  <head>
    <title>Successfully Logged in</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <header><%- include('partials/header.ejs') %></header>
  <body>
    <div id="display"></div>
    <div>
      <h3>Successfully Logged in</h3>
    </div>
  </body>
  <footer><%- include('partials/footer.ejs') %></footer>
</html>
